@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  overflow: hidden;
}
body .wrapper {
  width: 100%;
}
body .wrapper .box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
}
body .wrapper .box .picture_man {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper .box .picture_man img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wrapper .box .mobile-versionImg {
  display: none;
}
body .wrapper .box .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
body .wrapper .box .right_box .content_box {
  padding-left: 130px;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}
body .wrapper .box .right_box .content_box .text_about {
  height: 400vh;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow-y: auto;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box {
  overflow-y: auto;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box:nth-of-type(2) .top {
  height: 100vh;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box:nth-of-type(2) .top .title_box_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  padding-bottom: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .light_box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .light_box .lightning {
  width: 37px;
  height: 37px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div {
  width: 100%;
  height: auto;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram {
  width: 100%;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .title_skills {
  font-size: 32px;
  line-height: 31px;
  letter-spacing: 0em;
  color: #37352f;
  margin-bottom: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .linie {
  width: 95%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.274);
  margin: 0px 0 100px 0;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .design_box {
  margin-bottom: 100px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .design_box .design {
  margin-bottom: 20px;
  width: 90%;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .design_box .design span {
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram ul li {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #37352f;
  margin-bottom: 15px;
  list-style: none;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work_station {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 20px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work_station .work_station_title {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  color: #37352f;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work_station .work_station_years {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .linie2 {
  width: 5px;
  height: 100%;
  background-color: black;
  margin-right: 10px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .about_work_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .language {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .language .title_lang {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  margin-bottom: 32px;
  color: #37352f;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .language ul .language_list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .personal {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #9d9d9d;
  margin-bottom: 24px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -2px;
  text-align: left;
  color: #37352f;
  margin-bottom: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .text_lets {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #37352f;
  margin-bottom: 15px;
  list-style: none;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .context_about {
  max-width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #37352f;
  margin-bottom: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect .title_connect {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #9d9d9d;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect .num {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid #9d9d9d;
  text-decoration: none;
  color: #37352f;
  cursor: pointer;
  margin-bottom: 10px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect .num.active {
  background-color: #0a3ea8;
  color: white;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
  border-bottom: 1px solid #9d9d9d;
  text-decoration: none;
  color: #37352f;
  cursor: pointer;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box .top .connect_me .connect:nth-child(1) {
  margin-right: 40px;
}
body .wrapper .box .right_box .content_box .text_about .text_about_box:nth-of-type(3) .top .title_box_div .title_box_diagram .title_skills {
  margin-bottom: 0;
}
body .wrapper .box .btn-icon {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper .box .btn-icon .icon {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0em;
  color: #37352f;
  border: 0;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
body .wrapper .box .btn-icon .icon img {
  width: 14px;
  height: 16px;
}
body .wrapper .box .footer {
  display: none;
}

@media (max-width: 400px) {
  body {
    height: 100px;
    overflow: visible;
  }
  body .wrapper .box {
    height: auto;
    overflow-y: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .box .picture_man {
    display: none;
  }
  body .wrapper .box .picture_man img {
    display: none;
  }
  body .wrapper .box .mobile-versionImg {
    width: 93%;
    display: block;
    margin-top: 10px;
  }
  body .wrapper .box .mobile-versionImg img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  body .wrapper .box .right_box {
    width: 100%;
    position: initial;
  }
  body .wrapper .box .right_box .content_box {
    padding-left: 0;
  }
  body .wrapper .box .right_box .content_box .text_about {
    height: auto;
    overflow-y: auto;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box {
    display: none;
    width: 90%;
    overflow-y: auto;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top {
    width: 100%;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .light_box {
    display: none;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .personal {
    text-transform: uppercase;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title {
    margin-bottom: 30px;
  }
  body .wrapper .box .right_box .content_box .text_about .content--active {
    display: block;
  }
  body .wrapper .box .btn-icon {
    display: none;
  }
  body .wrapper .box .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    width: 80%;
    padding: 20px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    background-color: #000000;
  }
  body .wrapper .box .footer .btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    border: 0;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5411764706);
  }
  body .wrapper .box .footer .activeMob {
    color: #ffffff;
  }
}
@media (max-width: 820px) {
  body .wrapper .box .picture_man {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  body .wrapper .box .picture_man img {
    width: 100%;
    height: 100%;
    -o-object-position: -50px;
       object-position: -50px;
  }
  body .wrapper .box .right_box .content_box {
    padding-left: 0;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box {
    width: 85%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram:nth-child(1) {
    margin-bottom: 20px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work_station {
    margin-bottom: 20px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .linie2 {
    display: none;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .about_work_company {
    width: 100%;
    height: 150px;
    font-size: 17px;
  }
}
@media (max-width: 650px) {
  body .wrapper .box .picture_man {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  body .wrapper .box .picture_man img {
    width: 100%;
    height: 100%;
    -o-object-position: -50px;
       object-position: -50px;
  }
  body .wrapper .box .right_box .content_box {
    padding-left: 0;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box {
    width: 80%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title {
    font-size: 40px;
    line-height: 45px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram:nth-child(1) {
    margin-bottom: 20px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work_station {
    margin-bottom: 20px;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .linie2 {
    display: none;
  }
  body .wrapper .box .right_box .content_box .text_about .text_about_box .top .title_box_div .title_box_diagram .work_station .about_work .about_work_company {
    width: 100%;
    height: 150px;
    font-size: 17px;
  }
}/*# sourceMappingURL=index.css.map */